@import "../Global/general.scss";
.reviewList {
  width: 100%;
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .headerContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: Arimo, Arial, Helvetica, "Lucida Grande", sans-serif;
    font-weight: bold;
    
    text-align: left;
  }

  .heading {
    color: white;
  }

  .subHeading {
    color: $tertiary-color;
  }
}

@include breakpoint(min-tablet) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .headerContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      font-family: Arimo, Arial, Helvetica, "Lucida Grande", sans-serif;
      font-weight: bold;
      text-align: right;
      padding-right: 15px;
    }
  }
}
