@import "variables.scss";
html, body {
  height: 100%;
}
body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.css-cio0x1-MuiInputBase-root-MuiFilledInput-root:after{
  border-bottom: 3px solid $secondary-color !important;
}

.css-au3a9q-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: $secondary-color !important;
}

.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input{
  color:$tertiary-color !important;
}
.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root{
  color: $tertiary-color !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  color: $secondary-color !important;
  border-color: $secondary-color !important;
}
.react-multi-carousel-list{
  overflow: visible !important;
}
.css-ny5bw0-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: $secondary-color !important;
}