@import "variables.scss";
@import "general.scss";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: $base-color;
    height: 60px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: $base-color;
    height: 60px;
}
.left {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.hamburgerLogo {
    display: flex;
    flex-direction: row;
}
.hamburger {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;    
    height: 25px;
    width: 25px;
    margin: 0px 15px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: #b4b4b4;
    border-radius: 5px;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
}
.diagonal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
}

.part1 {
    margin-bottom: 3px;
}

.part2 {
    margin-top: 3px;
}

.logo {
    &::after {
        content: "X";
        color: $secondary-color;
        font-weight: bolder;
        font-size: 20px;
    }
    span{
        display: none;
    }
    font-size: 20px;
    color: white;
    
}
.search {
    position: absolute;
    left: 0;
    top: 60px;
    background: $base-color;

    width: 100%;

}
.searchIcon {
    position: absolute;
    margin: 10px 15px;
    color: #b4b4b4;
    height: 20px;
}

.searchBar {
    width: 350px;    
    background: #303437;
    border: 0;
    height: 40px;
    border-radius: 5px;
    padding-left: 45px;
    caret-color: black;
    transition: background 0.3s ease-in-out;
    &:focus {
        background: white;
        outline: none;       
    }
}
.right{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 50%;
}
.profile{
    display: flex;
    flex-direction: row;
    width: 33%;
    justify-content: center;
    .loggedIn{
        .avatar{
            margin-left: 45px;
        }
    }
    .notLoggedIn{
        .loginRegister{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #b4b4b4;
            width: 115px;
        }      
        
    }
}

@include breakpoint(min-laptop){

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background: $base-color;
        height: 60px;
    }
    .left {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }
    .hamburgerLogo {
        display: flex;
        flex-direction: row;
    }
    .hamburger {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        z-index: 99;    
        height: 25px;
        width: 25px;
        margin: 0px 15px;
    }
    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 20px;
        background-color: #b4b4b4;
        border-radius: 5px;
    }
    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
    }
    .diagonal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
    }
    
    .part1 {
        margin-bottom: 3px;
    }
    
    .part2 {
        margin-top: 3px;
    }
    
    .logo {
        font-size: 20px;
        color: white;
        &::after {
            content: attr(data-end);
            color: $secondary-color;
            font-weight: bolder;
        }
    }
    .search {
        position: relative;
        margin-left: 10px;
    
    }
    .searchIcon {
        position: absolute;
        margin: 10px 15px;
        color: #b4b4b4;
        height: 20px;
    }
    
    .searchBar {
        width: 350px;    
        background: #303437;
        border: 0;
        height: 40px;
        border-radius: 5px;
        padding-left: 45px;
        caret-color: black;
        transition: background 0.3s ease-in-out;
        &:focus {
            background: white;
            outline: none;       
        }
    }
    .right{
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 50%;
    }
    .profile{
        display: flex;
        flex-direction: row;
        width: 33%;
        justify-content: center;
        .loggedIn{
            .avatar{
                margin-left: 45px;
            }
        }
        .notLoggedIn{
            .loginRegister{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: #b4b4b4;
                width: 115px;
            }      
            
        }
    }
    
}

