
.main {
  height: 100vh;
  overflow-y: scroll;
  background-color: red;
  border: 1px solid blue;
}

.content__container {
  max-width: 200px;
  margin: 0 auto;
  background-color: aqua;
  height: 1000px;
}