@import "general.scss";

.header{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.heading{
  position: fixed;
  width: 100%;
  align-items: center;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 15%);
  color: black;
  display: flex;
  flex-shrink: 0;
  font-size: 16px;
  height: 50px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 25px;
  z-index: 1;
}
.buffer{
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}
.content{
  padding-left: 10px;
}
.mediaList{
  margin: 30px 0px;
}
.mediaImage{
  position: relative;
  width: 150px;
  height: 200px;
  overflow: hidden;
}
.imageOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:hover{
    .imageOverlayContent{
      animation: fadeInUp 1s ease-in;
    }
  }
}
.imageOverlayContent{
  display: block;
  position: relative;
  top: 190px;
}
.imageOverlayItem{
  margin:15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mediaRating{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0, 0, 0);
      opacity: 0;
  }

  to {
      transform: translate3d(0, -190px, 0);
      opacity: 1;
  }
}
