@import "general.scss";

.header{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.heading{
  position: fixed;
  width: 100%;
 &:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	filter: blur(3px);
	margin: -20px;
}
}