@import "general.scss";

.header{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.heading{
  position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
  width: 100%;
  background: rgba($color: #ffffff, $alpha: .5);
  filter: blur(10px);
}