@import "general.scss";

.main{
    position: absolute;
    left: 50px;
    top: 60px;
}

.hamburgerClose{
    transition: backround .5s;
    
}

.hamburgerOpen{
    background: rgba(0,0,0,0.3);
}



