@import "general.scss";

.main{
    position: absolute;
    left: 50px;
    top: 60px;
    transition: all .5s ease;
}

.hamburgerClose{
    left: 50px; 

    
}

.hamburgerOpen{
    left: 250px; 

}



