@import "general.scss";

.main{
    position: absolute;
    padding-top: 60px;
    padding-left: 50px; 
    transition: all .5s ease;
    width: 100%;
    height: 100%;
    background: gray;
    overflow: auto;

}

@include breakpoint(min-tablet){

.hamburgerClose{
    transition: all .5s ease;    
}

.hamburgerOpen{
    padding-left: 250px; 
}



}