@import "general.scss";
.mediaList {
  margin: 30px auto;
  width: 100%;
}
.media {
  margin: auto;
  background: #8c8;
  counter-increment: gallery-cell;
  &:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .headerContainer {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    align-items: center;
    margin-bottom: 20px;
    font-family:  Arimo,Arial,Helvetica,"Lucida Grande",sans-serif;
    font-weight: bold;
    white-space:pre-line;
  }
  .arrowsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
    .arrow {
      cursor: pointer;
      margin: 0px 5px;
    }
  }
  .heading{
    color: white;
  }
  .spacer {
    margin: 0px 5px;
    display: none;
  }
  .subHeading{
    color: $tertiary-color;
  }
}

/*.arrows{
      display: block;
  }
  .arrowsContainer{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: 20px;
  }

  .arrow{
      cursor: pointer;
      margin: 0px 10px;
  }
  .arrowLeft{
    display: block;
  }
  .arrowRight{
    display: block;
  }*/
