.mediaList {
    margin: 30px auto;
    width: 100%;
  }
  .media{
    margin:auto;
    background: #8C8;
    counter-increment: gallery-cell;
    &:before {
      display: block;
      text-align: center;
      content: counter(gallery-cell);
      line-height: 200px;
      font-size: 80px;
      color: white;
    }
  }
  .content{
    .header{
      margin-left: 40px;
    }
  }

  .arrows{
      display: block;
  }
  .arrowsContainer{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: 20px;
  }

  .arrow{
      cursor: pointer;
      margin: 0px 10px;
  }
  .arrowLeft{
    display: block;
  }
  .arrowRight{
    display: block;
  }
  
  