@import "general.scss";

.media {
    width: fit-content;
    height: fit-content;
    margin: auto;
    
  }
  
  .mediaContainer {
    position: relative;
    overflow: hidden; 
    &:hover {
        cursor: pointer;
      .mediaOverlay {
        animation: fadeInUp .5s ease-in-out;
        animation-fill-mode: forwards;
      }
      .mediaImage{
        
        opacity: 0.2;
        transition: all .3s ease-in-out;
      }
      .mediaImageContainer{
        border: 5px solid $secondary-color !important;
      }
      
    } 
  }
  .mediaImageContainer{
    border: 5px solid white !important;
    
  }

  .mediaImage{
    width: 200px;
  }
  
  .mediaOverlay {
    position: absolute;
    opacity: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .mediaOverlayItem {
    margin: 10px 0px;
    font-family:  Arimo,Arial,Helvetica,"Lucida Grande",sans-serif;
    font-size: 25px;
    font-weight: bold;
  }
  .mediaRating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mediaImageContainer{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .mediaInfo{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
    
  
  }
  .mediaTitleText  .mediaYearText{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 200px;
  }
  
  @keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0);
        opacity: 0;
    }
  
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
  }