@import "general.scss";
.sidebar {
    position: fixed;
    top: 60px;
    width: 50px;
    height: 100%;
    transition: width 0.5s;
    background: $base-color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 2;
}
.sidebarActive {
    width: 100%;
}

.sidebarList {
    list-style-type: none;
    padding: 0;
    width: 100%;
    .sidebarList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sidebarLink {
        height: fit-content;
        min-height: 50px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        padding-top: 10px;
        width: 200px;
        &:hover {
            cursor: pointer;
            background: rgba($color: $tertiary-color, $alpha: 0.1);
        }
    }
    .sidebarLinkMain {
        display: flex;
        align-items: center;
       
    }
    .sidebarText {
        margin-left: 20px;
        color: $tertiary-color;
        width: 100px;
        max-height: 19px;
        min-width: 79px;
        font-weight: bold;
    }
    .sidebarTextActive {
    }
    svg {
        color: $tertiary-color;
        font-size: 30px;
        margin-left: 10px;
    }
    .dropdownIcon {
        font-size: 40px !important;
        &:hover {
            border-radius: 50%;
            border: 0px solid $tertiary-color;
            background: rgba($color: $tertiary-color, $alpha: 0.1);
        }
    }
    .sidebarDropdown {
        position: relative;
        margin-left: 10px;
        max-height: 0;
        transition: max-height 0.35s ease-out;
        overflow: hidden;
        margin-top: 10px;
        .sidebarDropdownLinks {
            list-style: none;
            .sidebarDropdownLink {
                color: $tertiary-color;
                height: 30px;
                font-size: 15px;
            }
        }
    }
    .open {
        max-height: 500px;
        transition: max-height 0.35s ease-in;
    }
}
.sidebarSearch {
    margin-left: 0;
    transition: all 0.5s;
}
.sidebarSearchActive {
    margin-left: 10px;
}
.search {
    background: $base-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.searchActive {
    visibility: visible !important;
}
.searchContainer {
    width: 80%;
    display: flex;
    align-items: center;
}
.searchIcon {
    position: absolute;
    color: #b4b4b4;
    opacity: 100 !important;
}

.searchBar {
    width: 100%;
    background: #303437;
    border: 0;
    height: 40px;
    border-radius: 5px;
    padding-left: 45px;
    caret-color: black;
    transition: all 0.3s ease-in-out;
    visibility: visible;
    opacity: 100;
    &:focus {
        background: white;
        outline: none;
    }
}
.searchBarClosed{
    visibility: hidden;
    opacity: 0;
}

@include breakpoint(min-tablet) {
    .sidebarActive {
        width: 250px;
    }
}
