@import "/styles/Global/general.scss";



.content {
  width: 100%;
  margin: auto;
  padding: 0px 20px 0px 20px ;

}

.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title{
    font-size: 40px;
    font-weight: bolder;
    color: $secondary-color;
  }
  .subHeading{
    width: 60%;
    color: white;
    text-align:center;
  }
}

