@import "/styles/Global/general.scss";



.content {
  width: 100%;
  margin: auto;
  padding: 0px 20px 0px 20px ;

}

.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title{
    font-size: 40px;
    font-weight: bolder;
    color: $secondary-color;
  }
  .subHeading{
    margin: 20px;
    width: 60%;
    color: $tertiary-color;
    text-align:center;
    font-size: 20px;
    line-height: 35px;
  }
  .seperator{
    margin: 20px 0;
    width:45%;
    height:1px;
    border:0;
    border-bottom: 1px solid rgba(255,255,255,.25);
  }
}

.upcomingSection{
  width: 60%;
  .upcomingMovies{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
  }
  
}

.subTitle{
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-align: center;
}

