@import "/styles/Global/general.scss";
.container {
    width: 100%;
    height: 100%;
}
.containerBackground {
    width: 100%;
    height: 100%;
    filter: blur(30px);
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.movieInfo {
    .infoColumn {
        width: 100%;
    }
}

.basicInfo {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    .imageDetailsContainer {
        display: flex;

    }
    .imageContainer {
        display: none;
        margin: 20px;
         .image {
            
            border: 5px solid white;
            line-height:0;
        }
    }
    .details {
        margin: 0px 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .movieMediaTrailerContainer{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .detailsText {
        color: white;
        font-weight: bold;
        font-family: Arimo, Arial, Helvetica, "Lucida Grande", sans-serif;
        text-align: center;
    }
    .title {
        font-size: 45px;
    }
    .year {
        font-size: 20px;
    }

    .rating {
        display: flex;
        flex-direction: column;
    }
    .genresList {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        font-size: 20px;

        .genreListItem {
            margin: 0;

            &:not(:first-child) {
                &::before {
                    content: "/";
                    margin: 0px 5px;
                }
            }
        }
    }
    .movieMedia {
        width: 100%;

        .imagesTitle {
            font-size: 30px;
        }
        .movieMediaContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .movieMediaImagesContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .movieMediaImages {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .movieMediaImageContainer {
            width: 26%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 6px;
            cursor: pointer;
            
            .movieMediaImage {
                width: 100px;
                height: auto;
                
            }
        }
    }
    .movieMediaTrailerContainer {
        height: 30%;
        .trailerTitle {
            font-size: 30px;
            text-align: left;
            width: 100%;
        }
    }
}

@include breakpoint(min-laptop) {
    .basicInfo {
        flex-direction: row;
        .imageDetailsContainer{
            width: 100%;
        }
        .details{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .detailsText {
                color: white;
                font-weight: bold;
                font-family: Arimo, Arial, Helvetica, "Lucida Grande", sans-serif;
                text-align: left !important;
            }
            .movieMediaTrailerContainer{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }            
        }

        .movieMediaImages {
            .movieMediaImageContainer {
                .movieMediaImage {
                    position: relative;
                    width: 100%;
                    height: auto;
                    transition: width .3s ease-in-out;
                    &:hover{
                        width: 120%;
                    }
                }
            }
        }
    }
}

@include breakpoint(min-desktop) {
    .basicInfo {
        display: flex;
        flex-direction: row;
        padding-top: 50px;
        .imageDetailsContainer {
            display: flex;
            width: 70%;
            .imageContainer {
                display: block;
                width: 30%;
            }
            .details {
                margin: 0px 10px;
                width: 60%;
            }
        }
    }

    .detailsText {
        color: white;
        font-weight: bold;
        font-family: Arimo, Arial, Helvetica, "Lucida Grande", sans-serif;
        margin: 10px;
    }
    .title {
        font-size: 45px;
    }
    .year {
        font-size: 20px;
    }

    .rating {
        display: flex;
        flex-direction: column;
    }
    .genresList {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        font-size: 20px;

        .genreListItem {
            margin: 0;

            &:not(:first-child) {
                &::before {
                    content: "/";
                    margin: 0px 5px;
                }
            }
        }
    }
    .movieMedia {
        width: 33% !important;
        .imagesTitle {
            font-size: 30px;
        }
        .movieMediaContainer {
            width: 100%;
        }
    }
    .movieMediaImages {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;

        .movieMediaImageContainer {
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0px;
            .movieMediaImage {
                width: 100%;
                height: auto;
                
            }
        }
    }
}
