@import "general.scss";

.searchList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    .searchListContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .searchListItem{
        margin: 10px;        
    }
    .searchListPaginationContainer{
        list-style: none;
        display: flex;
        .searchListPaginationItem{
            cursor: pointer;
            margin: 0px 5px;
            color: $tertiary-color;
        }
    }
}

